services:
  app:
    build:
      context: .
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - db
    restart: unless-stopped
    command: sh -c "python manage.py wait_for_db && python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./fixtures:/app/fixtures

  db:
    image: postgres:16.0-alpine
    restart: unless-stopped
    expose:
      - "5432"
    env_file:
      - .env
    volumes:
      - db_data:/var/lib/postgresql/data

  redis:
    image: redis:5.0.3-alpine
    restart: unless-stopped
    expose:
      - "6379"
    env_file:
      - .env

  celery:
    build:
      context: .
    env_file:
      - .env
    command: sh -c "python -m celery -A library_service worker -B -l INFO --schedule /tmp/celery-schedule"
    depends_on:
      - db
      - app
    restart: unless-stopped

volumes:
  db_data: